<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 2px;
  font-size: 40px;
  text-align: center;
  background: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>
</head>
<body>

<div class="header">
  <h2>JackFrost's Blog</h2>
</div>

<div class="row">
    <h2>Oops! Something went wrong.</h1>
    <p>We're sorry, but the page you were looking for could not be found.</p>
</div>

</body>
</html>
